<li><a class="drawer-menu-item" href="{{file.meta.base_url}}top">Top</a></li>
<li><a class="drawer-menu-item" href="{{file.meta.base_url}}left">Left</a></li>
<li><a class="drawer-menu-item" href="{{file.meta.base_url}}right">Right</a></li>
<li class="drawer-dropdown">
  <a class="drawer-menu-item" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
    Navbar <span class="drawer-caret"></span>
  </a>
  <ul class="drawer-dropdown-menu">
    <li><a class="drawer-dropdown-menu-item" href="{{file.meta.base_url}}navbar/top">Top</a></li>
    <li><a class="drawer-dropdown-menu-item" href="{{file.meta.base_url}}navbar/left">Left</a></li>
    <li><a class="drawer-dropdown-menu-item" href="{{file.meta.base_url}}navbar/right">Right</a></li>
  </ul>
</li>
<li class="drawer-dropdown">
  <a class="drawer-menu-item" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
    Fixed Navbar <span class="drawer-caret"></span>
  </a>
  <ul class="drawer-dropdown-menu">
    <li><a class="drawer-dropdown-menu-item" href="{{file.meta.base_url}}fixed-navbar/top">Top</a></li>
    <li><a class="drawer-dropdown-menu-item" href="{{file.meta.base_url}}fixed-navbar/left">Left</a></li>
    <li><a class="drawer-dropdown-menu-item" href="{{file.meta.base_url}}fixed-navbar/right">Right</a></li>
  </ul>
</li>
<li class="drawer-dropdown">
  <a class="drawer-menu-item" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
    Sidebar <span class="drawer-caret"></span>
  </a>
  <ul class="drawer-dropdown-menu">
    <li><a class="drawer-dropdown-menu-item" href="{{file.meta.base_url}}sidebar/left">Left</a></li>
    <li><a class="drawer-dropdown-menu-item" href="{{file.meta.base_url}}sidebar/right">Right</a></li>
  </ul>
</li>
<li><a class="drawer-menu-item" href="{{file.meta.base_url}}dropdown/">Dropdown</a></li>
