<ul class="ListInline">
  <li class="t-mbMi"><a class="Button Button--info" href="{{file.meta.base_url}}left">Left position</a></li>
  <li class="t-mbMi"><a class="Button Button--info" href="{{file.meta.base_url}}right">Right position</a></li>
  <li class="t-mbMi"><a class="Button Button--info" href="{{file.meta.base_url}}top">Top position</a></li>
</ul>
<ul class="ListInline">
  <li class="t-mbMi"><a class="Button Button--success" href="{{file.meta.base_url}}responsive-left">Responsive Left position</a></li>
  <li class="t-mbMi"><a class="Button Button--success" href="{{file.meta.base_url}}responsive-right">Responsive Right position</a></li>
</ul>
<ul class="ListInline">
  <li class="t-mbMi"><a class="Button Button--danger" href="{{file.meta.base_url}}fixed-navbar-left">Fixed navbar Left position</a></li>
  <li class="t-mbMi"><a class="Button Button--danger" href="{{file.meta.base_url}}fixed-navbar-right">Fixed navbar Right position</a></li>
  <li class="t-mbMi"><a class="Button Button--danger" href="{{file.meta.base_url}}fixed-navbar-top">Fixed navbar Top position</a></li>
</ul>
