<a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>

{{#is file.meta.navbar "true"}}

<!-- Navbar -->
<header class="drawer-navbar {{file.meta.navbar_class}}" role="banner">
  <div class="Container t-md-gutter">
    <div class="drawer-navbar-header">
      <a class="drawer-brand drawer-brand--navber" href="{{file.meta.base_url}}">{{site.title}}</a>
      <button type="button" class="drawer-toggle drawer-hamburger">
        <span class="sr-only">toggle navigation</span>
        <span class="drawer-hamburger-icon"></span>
      </button>
    </div>
  </div>
  <nav class="drawer-nav" role="navigation">
    <ul class="drawer-menu {{file.meta.nav_menu_class}}">
      {{> include/demo-link}}
    </ul>
  </nav>

{{else}}

<!-- Base -->
<header role="banner">
  <button type="button" class="drawer-toggle drawer-hamburger">
    <span class="sr-only">toggle navigation</span>
    <span class="drawer-hamburger-icon"></span>
  </button>
  <nav class="drawer-nav" role="navigation">
    <ul class="drawer-menu">
      <li class="drawer-brand">Demonstration</li>
      {{> include/demo-link}}
    </ul>
  </nav>

  {{/is}}

</header>
